<% content_for :library do %>
<ul class="breadcrumb">
<li><%= link_to '首页', root_path %> <span class="divider">/</span></li>
<li>推荐视频</li>
</ul>
<% end %>
<%= form_tag [@video,@push] , :class => "form-horizontal" do %>
  <fieldset>
    <legend></legend>
    <div class="control-group">
      <label class="control-label" for="input01">视频URL</label>
      <div class="controls">
        <input type="text" class="input-xxlarge" placeholder="支持优酷 土豆 爱奇艺 搜狐视频网站的视频播放页链接" />
      </div> 
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">视频标签</label>
      <div class="controls">
        <input type="text" class="input-large" />
      </div> 
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">视频描述</label>
      <div class="controls">
        <textarea class="input-xlarge" rows=5></textarea>
      </div> 
    </div>
    <div class="form-actions">
      <%= submit_tag "确定", :class => "btn btn-primary" %>
      <%= submit_tag "取消", :class => "btn" %>
    </div>
  </fieldset>
<% end %>
